include src/sbsInfoSecScheduledApps/_resources/*
include src/sbsInfoSecScheduledApps/*.dat
include src/sbsInfoSecScheduledApps/*.txt
include src/sbsInfoSecScheduledApps/*.yaml
include src/sbsInfoSecScheduledApps/**/*.yaml